$backgroundColor: black;
$fontColor: #fff;
$buttonColor: #33b5e5;
$hover:(
    links: #067e3d,
    borders: #c7c7c7,
);
$networks:(
    facebook: #3b5998,
    twitter: #00acee,
    instagram: #E1306C,
);