@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  color: black;
  font-family: 'Indie Flower', cursive;
}

.main-grid_header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2;
      grid-template-columns: 2;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 0;
  background-color: white;
}

.carrito-div {
  -ms-grid-column: 2;
  grid-column: 2 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 20px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 25px;
  margin-top: 15px;
}

#control-logo {
  margin-left: 300px;
  margin-top: -50px;
}

.fa-solid {
  color: #33b5e5;
  font-size: 30px;
  margin-left: 25px;
  margin-top: 25px;
}

#main-picture {
  width: 100%;
  margin-bottom: 20px;
}

#main-picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.bienvenidos-inner_div {
  font-size: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  opacity: 0.75;
}

.bienvenidos-productos_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: absolute;
  top: 75%;
}

.ver-productos_btn {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

#nuestros-productos {
  margin-bottom: 20px;
}

main {
  text-align: center;
  background-color: white;
  padding-bottom: 50px;
}

.footer {
  padding-bottom: 5px;
  text-align: center;
  background-color: white;
}

.footer a {
  text-decoration: none;
  color: black;
}

.footer-social_networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facebook .fa-brands {
  color: #3b5998;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
}

.twitter .fa-brands {
  color: #00acee;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
}

.instagram .fa-brands {
  color: #E1306C;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
}

.to-top {
  background: #33b5e5;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 40px;
  height: 40px;
  border-radius: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.to-top:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 1px 2px 10px gray;
          box-shadow: 1px 2px 10px gray;
  border-radius: 100%;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
  color: whitesmoke;
}

#div-btn-eliminar .btn_eliminar {
  background-color: transparent;
}

#div-btn-eliminar button {
  cursor: pointer;
  background-color: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
}

#div-btn-eliminar button .fa-trash {
  margin-right: 20px;
}

#div-btn-eliminar button:hover {
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 2px 2px 2px 1px rgba(186, 17, 17, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(186, 17, 17, 0.2);
  border-radius: 50%;
}
/*# sourceMappingURL=styles.css.map */